{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="  background-size: cover,
    background-repeat: no-repeat,
    background-attachment: fixed; " src="/static/e3.jpg" class="d-block w-100" alt="...">
      </div>
     <div class="carousel-item active">
        <img style=" background-size: cover,
    background-repeat: no-repeat,
    background-attachment: fixed;" src="/static/e111.png" class="d-block w-100" alt="...">
      </div>
     <div class="carousel-item active">
        <img style=" background-size: cover,
    background-repeat: no-repeat,
    background-attachment: fixed;" src="/static/e22.png" class="d-block w-100" alt="...">
      </div>
       </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </div>
</div>
    </button>
    <body>
    <style>
      div.a{
        text-align: center;
      
        color: BLACK;
      }
     
    </style>
    </body>
    <div class="container text-center">
      <div class="row row-cols-1">
    <style>
      video {
      position: absolute;
      left: 90px;
    
      top: 1350px;
      
      }
      </style>
      <style>
        h3 {
        position: absolute;
        left: 450px;
      
        top: 1290px;
        
        }
        
        </style>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><div id="footer">
        <footer class="bg-light text-center text-lg-start">
          <!-- Copyright -->
          <div class="text-center p-3" style="width:100%, background-color:rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-dark" href="https://www.kluniversity.in/">KL University</a>
            <p>  </p>
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      </div>
          </footer></div>
          <!-- Copyright -->
 
</div>
{% endblock body %}

how it works
